@media screen and (max-width:991px){

    /* Propriétés générales */

    h1 {
        font-size: 16px;
    }

    h2{
        font-size: 14px;
    }

    h3{
        font-size: 11px;
    }

    p{
        font-size: 10px;
    }

    /* Header */

    header {
        margin: 0% 1% 0 1%;
        padding: 0%;
    }
    
    nav {
        width: 40%;
    }
    
    header img {
        height: 40px;
        width: 100px;
        object-fit: cover;
        margin-top: 2%;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        gap: 10%;
        align-items: center;
        list-style-type: none;
        font-size: 15px;
        margin: 0;
        height: 100%;
    }
    
    nav li{
        margin-top: 0%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10%;
    }
    
    /* Section recherche */

    #recherche{
        margin: 2% 2% 2% 2%;
    
    }

    #recherche p{
        margin-bottom: 2%;
    }

    /* Section recherche - barre de recherche */

    form{
        width: 45%;
        margin-bottom: 3%;
    }

    /* Section recherche - filtres */

    #filtre-bar{
        gap: 1%;
    }
    
    .filtre i{
        width: 40px;
        height: 40px;
    }
    
    .filtre-content{
        font-weight: bold;
        font-size: 12px;
        padding: 0 25px 0 5px;
    }
    

    /* Section Resultats */

    #resultats{
        gap: 1%;
        margin: 0% 2% 0% 2%;
    }

    /* Section Resultats - article hébergements */

    #liste-hebergements{
        padding: 1% 0% 1% 0%;
        height: 100%;
    }

    #liste-hebergements h2{
        margin: 0% 0% 0% 1%;
        padding: 3% 0% 3% 0%;
    }

    #plus{
       margin: 1% 1% 1% 1%;
       padding: 0;
    }


    /* Section Resultats - article hébergements - container cartes */

    #hebergement-card-container{
        gap: 0%;
        padding: 1%;
    }

    /* Section Resultats - article hébergements - container cartes - container ligne de 3 cartes */

    .hebergement-card-container-row{
        gap: 2%;
        height: 50%;
    }

    /* Section Resultats - article hébergements - container cartes - cartes hébergement */

    .card-body-hebergement{
        padding: 5% 1% 1% 1%;
    }

    .card-body-hebergement h3{
        padding: 0;
        margin: 0;
    }

    .card-body-hebergement p{
        padding: 0;
        margin: 0;
    }

    /* Section Resultats - article hebergements populaires */

    #hebergements-populaires{
        padding: 0 1% 0 1%;
    }

    /* Section Resultats - article hebergements populaires - entête */

    #entête-populaires{
    
        margin: 5% 3% 0% 6%;
        padding: 0%;
    }

    #entête-populaires i{
        font-size: 16px;
    }

    /* Section Resultats - article  hebergements populaires - liste hebergements populaires */

    #liste-hebergements-populaires{
        margin-top: 3%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-content: space-between;
        gap: 4%;
    }

    /* Section Resultats - article populaires - liste populaires - carte hebergement populaire */

    .carte-hebergement-populaire{  
        gap: 4%;  
    }

    .card-image-hebrgement-populaire{
        height: 95px;
    }

    /* Section activités */

    #activites{
        margin: 5% 2% 5% 2%;
    }

    /* Section activités - carte activité large */

    .card-activite-large h3{
        margin: 5% 5% 0 5%;
    }

    .card-activite-large img{
        height: 260px;
    }


    /* Section activités - container 2 cartes activité - carte activité fort */

    #card-activite-fort{
        height: 48%;
    }

    #card-activite-fort img{
        margin: 0;
        height: 115px;
    }

    /* Section activités - container 2 cartes activité - carte activité small */

    .card-activite-small{
        height: 48%;
    }
    .card-activite-small h3{
        margin: 5%;
        padding: 1%;
    }

    .card-activite-small img{
        height: 110px;
    }
}